<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-log center">책 이야기</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">

            <li><a href="/stories">모두의 이야기</a></li>
            <li><a href="/dashboard">나의 이야기</a></li>
            <li><a href="/book">책 둘러보기</a></li>
            <li><a href="/about">공지사항</a></li>
            <li><a href="/auth/logout">로그아웃</a></li>
        </ul>

    </div>
</nav>